// Fonts
$font-family-body: "Source Serif Pro", serif;
$font-family-mono: "Roboto Mono", monospace;
$font-family-tt: "Inconsolata", monospace;
$font-size: 16px;
$line-height: 1.65;
$page-width: 56rem;
// Logo
$logo-width: 50px;
$logo-height: 50px;
$logo-grayout: false;
// Colors
$colors: "dark" // white dark light classic
