<section class="container post">
  <article class="publication">
    <header>
      <h1 class="title centered">{{ .Title }}</h1>
      <h2 class="date centered">{{ .Date.Format "January 2, 2006" }}</h2>
      <p class="paper_venue centered"> {{ .Params.Venue}} </p>
      <ul class="author_list centered">
        {{ range .Params.Authors }}
          {{ if eq . "Justin Sybrandt" }}
            <li class="author_elem author_is_me">{{ . }}</li>
          {{ else }}
            <li class="author_elem">{{ . }}</li>
          {{ end }}
        {{ end }}
      </ul>
      <hr>
    {{ with .Params.links }}
    <ul class="pub_links centered">
      {{ range sort .}}
      <li><a href="{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
    </header>
    {{ .Content }}
  </article>
  <br/>
</section>
